doctype html
html
    include ./head.jade
    body
        #main
            include ./nav.jade
            .container-fluid
                router-view
            
        include ./home.jade
        include ./favourites.jade
        include ./details.jade
        include ./film-card.jade

        include ./scripts.jade 
        
        script(src='./js/home.js')
        script(src='./js/details.js')
        script(src='./js/favourites.js')
        script(src='./js/filmCard.component.js')
        
        script(src='./js/api.service.js')
        script(src='./js/routes.js')
        script(src='./js/main.js')




      
