doctype html
html
    include ./head.jade
    body
        //.background
        #main
            include ./nav.jade
            .container
                .item(v-for="item in items")
                    img(:src="item.image")
                    .rating
                        i.active
                    p.title {{item.title}}
                    .descr {{item.paragraph}}
                #more(@click="getItems()") Показати ще 

        include ./scripts.jade        
        script(src='./favourite.js')




      
