doctype html
html
    include ./head.jade
    body
        //.background
        #main
            //#scroll Включить скролл
            include ./nav.jade
            router-view(:favourites="favourites", :genres="genres")
            //router-view(v-bind="[favourites, genres]")
            
        script(type="text/x-template", id="home")
            .container
                form
                    input.form-control(type="search", placeholder="Search", v-model="search")
                    select.form-control(v-model='genre')
                        option(value="") Select genre
                        option(v-for="value in genres", :value="value.id") {{value.name}}
                      //router-link(:to="")
                    router-link.icon.ion-md-heart(title="show favourites", to="favourites") {{favourites.length}}
                
                .isLoading(v-if="isLoading")
                film-card(v-for="item in filteredItems", :item="item", :genres="genresMap", :key="item.id")
                //router-link.item(v-for="item in filteredItems", :to="'details/'+ item.id")
                    img(:src="item.image_url")
                    .rating
                        i.active
                    p.title {{item.title}}
                    //pre {{item.genre_ids}}
                    span.badge.badge-warning.mr-1(v-for="id in item.genre_ids", @click.prevent.stop="genre = id", data-toggle="tooltip", data-placement="top", title="select genre") {{genresMap[id]}} 
                    .descr {{item.overview}}
                    //i.icon(:class="{'ion-md-heart' : item.isFavourite, 'ion-md-heart-empty' : !item.isFavourite}")
                    i.icon(:class="item.isFavourite? 'ion-md-heart': 'ion-md-heart-empty'", @click.prevent.stop="setFavourite(item)")
                    //ion-icon.add_to_favourites(name="star-outline", 
                        @click="addFavourites(item.id)"/*,:class="active: item.favourite"*/)
                    
                //#more(@click="getItems()") Показати ще 
                //#scroll_to_top GO UP!
        
        script(type="text/x-template", id="favourites")
            h3 hfdhkjhfkdjgjkdf
        
        script(type="text/x-template", id="details")
            .container
                img(:src="item.image_url")
                .rating
                    i.active
                h1.title {{item.title}}
                //pre {{item.genre_ids}}
                
                span.badge.badge-warning.mr-1(v-for="item in item.genres") {{item.name}} 
                .descr {{item.overview}}
                //i.icon(:class="{'ion-md-heart' : item.isFavourite, 'ion-md-heart-empty' : !item.isFavourite}")
                .icon(:class="item.isFavourite? 'ion-md-heart': 'ion-md-heart-empty'", @click="setFavourite(item)")
                //ion-icon.add_to_favourites(name="star-outline", 
                    @click="addFavourites(item.id)"/*,:class="active: item.favourite"*/)
                h3 Related films:     
        
        script(type="text/x-template", id="film-card")
            router-link.item(:to="'details/'+ item.id")
                img(:src="item.image_url")
                .rating
                    i.active
                p.title {{item.title}}
                //pre {{item.genre_ids}}
                
                span.badge.badge-warning.mr-1(v-for="id in item.genre_ids", @click="genre = id", 
                    data-toggle="tooltip", data-placement="top", title="select genre") {{genres[id]}} 
                .descr {{item.overview}}
                //i.icon(:class="{'ion-md-heart' : item.isFavourite, 'ion-md-heart-empty' : !item.isFavourite}")
                i.icon(:class="item.isFavourite? 'ion-md-heart': 'ion-md-heart-empty'", 
                    @click="setFavourite(item)", title="Add to favourites")
       

        include ./scripts.jade        
        script(src='./main.js')




      
